input,
select {
	cursor: pointer;
}
.forms__container {
	padding-top: 3.9rem;
	max-width: 47rem;
}
.forms__wrapper {
	padding-left: 0.5rem;
	max-width: 42.5rem;
}
.forms__title {
	text-align: left;
}
.forms__note {
	margin-top: 0.63rem;
	margin-bottom: 2.125rem;
	font-weight: 400;
	font-size: 16px;
}
.forms__name {
	margin-right: 4.23rem;
	padding-bottom: 0.875rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid var(--black);
	cursor: text;
}
.forms__tel {
	padding-bottom: 0.875rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid var(--black);
	cursor: text;
}
.forms__location {
}
.forms__region-name {
	margin-top: 3rem;
	margin-bottom: 4rem;
}
.forms__region {
	margin-right: 4.23rem;
	padding-bottom: 1rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid #adadad;
}
.forms__city {
	padding-bottom: 1rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid #adadad;
}
.forms__section-name {
	font-weight: 700;
	font-size: 1.25rem;
}
.forms__payment {
}
.forms__payment-name {
	margin-top: 3.9rem;
	margin-bottom: 2.1rem;
}
.forms__payment-inputs {
	display: flex;
}
.forms__payment-inputs input {
	margin-right: 1rem;
	content: url(/img/forms/around-point.svg);
}
.forms__payment-inputs input:checked {
	content: url(/img/forms/around-point-checked.svg);
}
.forms__payment-inputs p {
	margin-right: 2rem;
}
.forms__services {
	margin-bottom: 4.5rem;
}
.forms__services-check {
	display: grid;
	grid-template-columns: 12rem 20rem 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
}
.forms__services-name {
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.forms__services-name::after {
	margin-left: 0.75rem;
	content: url(/img/forms/arrow-top.svg);
}
.forms__services input {
	margin-right: 1rem;
	content: url(/img/forms/check-mark.svg);
}
.forms__services input:checked {
	content: url(/img/forms/check-mark-checked.svg);
}
.forms__timer {
}
.forms__button-send {
}
.forms__button {
}
.button {
}
.forms__note-buttons {
}
