input,
select {
	cursor: pointer;
}
.forms__container {
	padding-top: 3.9rem;
	max-width: 50rem;
}
.forms__wrapper {
	padding-left: 0.5rem;
	max-width: 49rem;
}
.forms__title {
	text-align: left;
}
.forms__note {
	margin-top: 0.63rem;
	margin-bottom: 2.125rem;
	font-weight: 400;
	font-size: 16px;
}
.forms__name {
	margin-right: 4.23rem;
	padding-bottom: 0.875rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid var(--black);
	cursor: text;
}
.forms__tel {
	padding-bottom: 0.875rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid var(--black);
	cursor: text;
}
.forms__region-name {
	margin-top: 3rem;
	margin-bottom: 4rem;
}
.forms__region {
	margin-right: 4.23rem;
	padding-bottom: 1rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid #adadad;
}
.forms__city {
	padding-bottom: 1rem;
	width: 18.75rem;
	font-weight: 500;
	font-size: 1rem;
	border-bottom: 1px solid #adadad;
}
.forms__section-name {
	font-weight: 700;
	font-size: 1.25rem;
}
.forms__payment-name {
	margin-top: 3.9rem;
	margin-bottom: 2.1rem;
}
.forms__payment-inputs {
	display: flex;
}
.forms__payment-inputs input {
	margin-right: 1rem;
	content: url(/img/forms/around-point.svg);
}
.forms__payment-inputs input:checked {
	content: url(/img/forms/around-point-checked.svg);
}
.forms__payment-inputs p {
	margin-right: 2rem;
}
.forms__services {
	margin-bottom: 4.5rem;
}
.forms__services-check {
	display: grid;
	grid-template-columns: 12rem 20rem 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
}
.forms__services-name {
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.forms__services-name::after {
	margin-left: 0.75rem;
	content: url(/img/forms/arrow-top.svg);
}
.forms__services input {
	margin-right: 1rem;
	content: url(/img/forms/check-mark.svg);
}
.forms__services input:checked {
	content: url(/img/forms/check-mark-checked.svg);
}
.forms__timer-and-button-send {
	display: flex;
}
.forms__timer p {
	margin-right: 4.1rem;
	font-weight: 400;
	font-size: 6rem;
}
.forms__button {
	padding: 1rem 3rem;
	font-size: 1rem;
	outline: var(--yellow) solid 2px;
}
.forms__note-buttons input {
	width: 14px;
	height: 14px;
	margin-right: 0.63rem;
}
.forms__note-buttons input:checked {
	content: url(/img/forms/check-mark-note.jpg);
	object-fit: cover;
	width: 1rem;
	height: 1rem;
}
.forms__note-buttons {
	margin-top: 1rem;
	display: flex;
}
.forms__note-buttons p {
	padding: 0.2rem;
	font-weight: 400;
	font-size: 0.75rem;
	letter-spacing: 0.015em;
}

@media (max-width: 660px) {
	.forms__location {
		display: none;
	}
	.forms__payment {
		display: none;
	}
	.forms__services {
		display: none;
	}
	.forms__timer {
		display: none;
	}
	.forms__title {
		text-align: center;
	}
	.forms__note {
		text-align: center;
	}
	.forms__name-and-tel {
		margin-bottom: 3.8rem;
		text-align: center;
	}
	.forms__name {
		margin-right: 0;
		width: 35rem;
		margin-bottom: 1.4rem;
	}
	.forms__tel {
		width: 35rem;
	}
	.forms__button-send {
		margin: 0 auto;
	}
	.forms__button {
		padding: 1rem 3rem;
		font-size: 1rem;
		outline: var(--yellow) solid 2px;
	}
	.forms__note-buttons {
		margin-top: 1rem;
		display: flex;
	}
	.forms__note-buttons p {
		padding-top: 0.2rem;
		font-weight: 400;
		font-size: 0.75rem;
		letter-spacing: 0.015em;
	}
}
@media (max-width: 520px) {
	.forms__name {
		width: 30rem;
	}
	.forms__tel {
		width: 30rem;
	}
}
@media (max-width: 450px) {
	.forms__name {
		width: 25rem;
	}
	.forms__tel {
		width: 25rem;
	}
}
@media (max-width: 380px) {
	.forms__name {
		width: 21rem;
	}
	.forms__tel {
		width: 21rem;
	}
}
