.reviews {
	background-color: var(--yellow);
}
.reviews__container {
	margin: 0 auto;
	padding: 6rem 1rem;
	max-width: 81rem;
}
.reviews__row {
	margin: 3.75rem 0;
	display: flex;
	justify-content: space-between;
}
.reviews__item {
	width: 26rem;
	height: 16.6rem;
}
.reviews__person {
	font-size: 1.5rem;
	font-weight: 600;
}
.reviews__data {
	margin-top: 0.6rem;
	margin-bottom: 1.25rem;
	display: flex;
}
.reviews__data time {
	margin-right: 0.6rem;
	font-size: 1rem;
	font-weight: 400;
}
.reviews__stars {
	margin-top: -0.15rem;
	display: flex;
	align-items: center;
}
.reviews__star img {
	width: 100%;
}
.reviews__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0%;
	line-height: 21px;
}
.reviews__read-more {
	margin-top: 1.1rem;
	text-decoration: underline;
	font-size: 1rem;
	font-weight: 400;
	cursor: pointer;
}
/* .reviews__all {
	text-align: center;
}
.reviews__all p {
	display: inline-block;
	padding: 0.8rem 6rem;
	border: 1px solid var(--black);
	cursor: pointer;
} */
@media (max-width: 1130px) {
	.reviews__row {
		flex-wrap: wrap;
		justify-content: center;
	}
	.reviews__item:not(:last-child) {
		margin-bottom: 4rem;
	}
}
/* @media (max-width: 771px) {
	.reviews__row {
		margin-right: 1.25rem;
		margin-bottom: 1.25rem;
	}
} */
