.stages {
}
.stages__container {
	margin: 6rem auto 6.4rem;
	padding: 0 1rem;
	max-width: 85rem;
}
.title {
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
}
.stages__items {
	margin-top: 3.75rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem 8rem;
}
.stages__item {
	max-width: 26rem;
}
.stages__number {
	font-weight: 300;
	font-size: 3rem;
}
.stages__text {
	font-weight: 500;
	font-size: 1.25rem;
}
.stages__descr {
	font-weight: 400;
	font-size: 1rem;
}
