@import "./reset.css";
@import "./banner.css";
@import "./stages.css";
@import "./prices.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
	--yellow: #fed100;
	--black: #333333;
	--red: #ff352b;
	--white: #f2f2f2;
}
a {
	color: inherit;
}
a:hover {
	color: var(--red);
}
